{% extends 'base.html' %}

{% block title %}
  Технологии
{% endblock %}

{% block content %}
  <div id="portfolio" class="container-fluid text-center bg-grey">
    <h2>в этом проекте:</h2>
    <div class="slide text-center">
      <div class="item">
        <h4><a href="https://www.python.org/downloads/" target="_blank">PYTHON</a><br>
          <span style="font-size: medium">это язык программирования, который позволяет вам работать быстрее и более эффективно интегрировать ваши системы</span>
        </h4>
      </div>
      <div class="item">
        <h4><a href="https://www.djangoproject.com/download/" target="_blank">DJANGO</a><br>
          <span style="font-size: medium">упрощает создание лучших веб-приложений, быстрее и с меньшим количеством кода</span>
        </h4>
      </div>
      <div class="item">
        <h4><a href="https://getbootstrap.com" target="_blank">BOOTSTRAP</a><br>
          <span style="font-size: medium">мощный, расширяемый и многофункциональный инструментарий интерфейса</span>
        </h4>
      </div>
    </div>
  </div>
{% endblock %}


